@font-face {
    font-family: 'Lato';
    src: font_url('Lato-Black.woff2') format('woff2'),
         font_url('Lato-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

